<div class="list">
    <h2> Cake Details List </h2>
<table class = "table table-striped">
  
    <thead>
        <tr>
            <th> Cake Name</th>
            <th> Quantity </th>
            <th> Weight in kg</th>
            <th> Price per kg </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cake of cake" >
            <td> {{ cake.cakeName }} </td>
            <td> {{ cake.quantity }} </td>
            <td> {{ cake.weight }} </td>
            <td> {{ cake.price }} </td>
            <td>
                <button (click) = "updateCake(cake.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteCake(cake.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "cakeDetails(cake.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
</div>