.nav-item{
    font-size:x-large;
    
}
.nav-item1{
    font-size: x-large;
    
}
.footer{
    background-color: rgb(117, 23, 78);
}
nav{
    background-color: rgb(117, 23, 78);
    font-color: aliceblue;

}
